<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dlubal.WS.Clients.DotNetClientTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding
          name="DlubalSoapBinding"
          maxReceivedMessageSize="2000000"
          sendTimeout="00:10:00"
        />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Dlubal.WS.Clients.DotNetClientTest.Properties.Settings>
      <setting name="WebServiceAddress" serializeAs="String">
        <value>http://localhost:8081</value>
      </setting>
      <setting name="TestMethodsFile" serializeAs="String">
        <value>TestMethods.txt</value>
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value>Data</value>
      </setting>
      <setting name="TestResultsFile" serializeAs="String">
        <value>TestResults.txt</value>
      </setting>
      <setting name="ObjectInformationFile" serializeAs="String">
        <value>ObjectInformation.xml</value>
      </setting>
    </Dlubal.WS.Clients.DotNetClientTest.Properties.Settings>
  </userSettings>
</configuration>
